<?xml version="1.0"?>
<config>
    <modules>
        <Mygento_Sentry>
            <version>1.1.1</version>
        </Mygento_Sentry>
    </modules>
    <global>
        <helpers>
            <sentry>
                <class>Mygento_Sentry_Helper</class>
            </sentry>
        </helpers>
        <models>
            <sentry>
                <class>Mygento_Sentry_Model</class>
            </sentry>
        </models>
        <log>
            <core>
                <writer_model>Mygento_Sentry_Model_Logger</writer_model>
            </core>
        </log>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <sentry>
                    <files>
                        <default>Mygento_Sentry.csv</default>
                    </files>
                </sentry>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sentry>
                                            <title>Mygento Sentry Configuration</title>
                                        </sentry>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <sentry>
            <general>
                <enabled>0</enabled>
                <debug>0</debug>
            </general>
        </sentry>
    </default>
</config>
